@model JumpLog.Models.Soldier

<td scope="col">@Model.LastName</td>
<td scope="col">@Model.FirstName</td>
<td scope="col">@Model.Rank</td>
<td scope="col">@Model.DodId</td>
<td scope="col">@Model.Ssn</td>
<td scope="col">@Model.Company</td>
<td scope="col">@Model.Platoon</td>
<td scope="col">@Model.DateArrived</td>