@using Microsoft.AspNetCore.Identity
@model JumpLog.Models.Soldier

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Delete Soldier";
}

@if (SignInManager.IsSignedIn(User))
{
<section class="section">
    <h1>Delete Soldier</h1>
    <h3>Are you sure?</h3>

    <form asp-action="ActualDelete" asp-route-id="@ViewBag.Id">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Rank</th>
                    <th scope="col">DOD ID</th>
                    <th scope="col">SSN</th>
                    <th scope="col">Company</th>
                    <th scope="col">Platoon</th>
                    <th scope="col">Date Arrived</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td scope="col">@Model.LastName</td>
                    <td scope="col">@Model.FirstName</td>
                    <td scope="col">@Model.Rank</td>
                    <td scope="col">@Model.DodId</td>
                    <td scope="col">@Model.Ssn</td>
                    <td scope="col">@Model.Company</td>
                    <td scope="col">@Model.Platoon</td>
                    <td scope="col">@Model.DateArrived</td>
                </tr>
            </tbody>
        </table>
        <button asp-action="All">Do Not Delete</button>
        <input type="submit" value="Delete Soldier" />
    </form>


</section>
}
else
{
    <section class="section text-center">
        <h3>Need to be logged in to view this page.</h3>
    </section>
}